/* ForgetPassword.css */

/* Base Styles (Shared with login.css) */
.form-container { /* Changed from .login-form to .form-container */
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ff0000; /* Red border color */
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.4); /* Light background color */
  }
  
  .form-container h2{
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .form-container form{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .form-container label {
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  
  .form-container input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .reset-btn {
    margin-top: 50px;
    padding: 10px 30px;
    background-color: #ffbf00; 
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
  }
  
  .form-container button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle hover shadow */
    background-color: #ffc900; /* Slightly lighter on hover */
  }
  
  .form-container button:active {
    background-color: #ff9900; /* Darker on click */
  }
  